*{
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
}


.contenedor{
	width: 100%;
	display:flex;
	flex-flow: row wrap;
}

nav{
	background-color: #D9797A;
	
	display: flex;
	flex-basis: 100%;
	justify-content: center;
	flex-flow: row wrap;
	flex-direction: column;
    align-items: center;
}

ul{
	display: flex;
	justify-content: center;
	flex-flow: row wrap;

}

li{
	margin-left: 25px;
	border-left: #fff;
	margin-top: 20px;
	margin-bottom: 20px;
	cursor: pointer;
}

a{
	color: #fff;
	padding: 20px;
	border-left: 1px solid;
}
a:hover{
	background-color: #DA6163;
}

.ocultar{
	display: none
}
